*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body,html{
font-family: Montserrat;
font-size: 14px;
background: #000000;
color: #ffffff;
}
body.lock{
	overflow: hidden;
}
.header {
	padding: 24px 0 0 0;
	&__container {
		max-width: 1130px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		&_img {
			margin: 0 16.8px 0 0;
		}

		&_text {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__nav {
		flex: 0 1 377px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a{
			color: #999999;
			
		}
		&_link {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 1 136px;
	}

	&__icon {

		&_burger{
			margin: 0 28px 0 0;
		}
	}

	&__language {
		font-weight: 600;
		font-size: 10px;
		line-height: 12px;
		&_burger{
			position: relative;
			&::after{
				content: '';
				width: 8px;
				height: 6px;
				background: url(../img/arrow.svg) no-repeat;
				display: block;
				position: absolute;
				top: 1px;
				right: -14px;
			}
		}
	}

	&__burger {
		img{
			display: block;
		}
		position: relative;
		z-index: 5;
	}

	&__menu {
		display: none;
		position: fixed;
		z-index: 2;
		right: -100%;
		top: 0;
		width: 50%;
		height: 100%;
		padding: 0 0 0 117px;
		background: rgba(0, 0, 0, 0.8);
		border: 1px solid #FFFFFF;
		display: flex;
		justify-content: center;
		flex-direction: column;
		transition-duration: 1s;
		&.active{
			right: 0;
		}
	}

	&__settings {
		display: flex;
		position: absolute;
		top: 142px;
		left: 118px;
	}

	&__block {

		&_link {
			font-weight: 500;
			font-size: 24px;
			margin: 0 0 23px 0;
			
			height: 35px;
			span{
				&:hover{
					border-bottom: 2px solid #ffffff;
					display: inline-block;
					height: 35px;
				}
			}
		}
	}
}

.content{
	padding: 60px;
}
.footer {
	hr{
		display: block;
		width: 100%;
		height: 0.5px;
		margin: 0;
		border: 0;
		background-color: #777777;
	}
	&__container {
		max-width: 1040px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__top {

	}

	&__mid {
	}

	&__bot {
	}
}
.top-footer {
height: 210px;
display: flex;
justify-content: center;
align-items: center;
	&__body {
		display: flex;
		width: 832px;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
	}
}
.mid-footer {
height: 124px;
background: #0B0B0B;
.footer__container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 124px;
}
	&__body {
		display: flex;
		width: 500px;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__tel {
		font-weight: 500;
		font-size: 32px;
		padding: 0 21px 0 46px;
		position: relative;
		&::before{
			content: '';
			width: 25px;
			height: 25px;
			background: url(../img/Vector.svg) no-repeat;
			position: absolute;
			top: 4px;
			left: 0;
			display: block;
		}
		&::after{
			content: '';
			width: 2px;
			height: 100%;
			background: #ffffff;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&__text {
		padding: 0 17px 0 0 ;
		&_top {
			font-weight: 500;
			font-size: 12px;
			line-height: 113.84%;
			margin-bottom: 6px;
		}

		&_bot {
			font-size: 12px;
			line-height: 15px;
			color: #999999;
		}
	}
	.dot {
		position: absolute;
		top: 3px;
		left: 26px;
		width: 5px;
		height: 5px;
		background: #D8014E;
		display: block;
		border-radius: 50%;
	}
}

.bot-footer {
height: 141px;
display: flex;
align-items: center;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__btms {
		flex: 0 1 255px;
		display: flex;
		justify-content: space-between;
	}

	&__btm {
	}

	&__nav {
		flex: 0 1 325px;
		display: flex;
		justify-content: space-between;
		a{
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: #ffffff;
			text-decoration-line: underline;

		}
	}

	&__icons {
		flex: 0 1 129px;
		justify-content: space-between;
		a{
			margin: 0 3px 0 0;
			&:last-child{
				margin: 0;
			}
		}
	}
	.header__language {
		padding: 0 15px 0 0;
		&_burger {
			&::after{
				right: 0;
			}
		}
	}
}

.copyright-footer {
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
	&__logo {
		font-weight: 500;
		font-size: 14px;
		line-height: 113.84%;
		color: #999999;
	}

	&__text {
		flex: 0 1 790px;
		padding: 0 31px 0 0;
		font-size: 10px;
		line-height: 11px;
		color: #777777;
	}
}


